.Lista {
    min-width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    min-height: 30px;
    padding: 10px 20px;
    background-color: rgb(255, 250, 242);
    border-radius: 12px;
}
#Lista-Container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.Lista p {
    font-size: 18px;
    font-weight: 300;
    color: rgb(83, 54, 54);
    font-family: Arial, Helvetica, sans-serif;
}

